body{
    background-color: rgb(186, 177, 196);
    color: white;
}
h1{
    color: cornflowerblue;
}
p{
    color: cornsilk;
}

img{
    border-radius: 50%;
}

#special{
    color: #F0FFF0;
    background-color: #663399;
}

#special2{
    color: #FAF0E6;
    background-color: #663399;
}